* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 50px 0;
}


.fizzbuzzdom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: darkcyan;
}

.square {
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px solid black;
	margin: 2px;
	font-size: 26px;
}

/*bg squares*/

.common-bg {
	background-color:dodgerblue ;
}

.fizz-bg {
	background-color:mediumspringgreen;
}

.buzz-bg {
	background-color: goldenrod;
}

.fizz_buzz-bg {
	background-color: coral;
}

